[Desktop Entry]
Name=SteamOS
Comment=This session logs you into a Gamescope-Session
Exec=gamescope -e -f -- steam -gamepadui -steamos3 -steampal -steamdeck
Type=Application
